<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a><img src="" alt="Logo LiveTransit" /></a>
    </div> 
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true" style="padding-left:1.25rem; margin:0px"></span>
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="linie">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true" style="padding-left:1.25rem" margin:0px></span>
            </NavLink>
        </div>
    </nav>
</div>