@page "/Linie"
@using LiveTransit.Services

<PageTitle>Linie</PageTitle>

<h1>Autobusy</h1>

@foreach (string route in routes)
{
    string[] croppedRoute = route.Split('|');
    string routeLine = croppedRoute.First();
    string routeFull = croppedRoute.Last();
    <div class="card" style="margin-top:5px">
        <div class="card-body linie">
            <div>
                <div class="container">
                    <div class="row">
                        <div class="col tlo">
                            <p style="background: #3366ff; color:white" class="centered">@routeLine</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col title">
                            <p class="centered"><strong>@routeFull</strong></p>
                        </div>
                    </div>
                    <div>
                        <div class="col details">
                            <a href="/Linie/@routeLine">
                                <p class="btn5 centered">Szczegóły</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
} 


@code {
    [Inject]
    public IRouteService routeService { get; set; }

    public List<string> routes { get; set; }

    protected override async Task OnInitializedAsync() {
        routes = (await routeService.GetLinesWithRoutes()).ToList();
    }

}