@page "/Linie"
@using LiveTransit.Services
@attribute [StreamRendering]

<PageTitle>Linie</PageTitle>

@code {
    [Inject]
    public IRouteService routeService { get; set; }

    public IEnumerable<string> routes { get; set; }

    protected override async Task OnInitializedAsync() {
        routes = (await routeService.GetRoutes()).ToList();
    }


    [Inject]
    public IRouteService routeService1 { get; set; }

    public string route1 { get; set; }
}

<h1>Autobusy</h1>

@foreach (string route in routes)
{
    <div class="card" style="margin-top:5px">
        <div class="card-body linie">
            <div>
                <div class="container">
                    <div class="row">
                        <div class="col tlo">
                            <p style="background: #3366ff; color:white" class="centered">@route</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col title">
                            <p class="centered"><strong>@route1</strong></p>
                        </div>
                    </div>
                    <div>
                        <div class="col details">
                            <a href="/Linie/@route">
                                <p class="btn5 centered">Szczegóły</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}