@page "/Linie/{line}"
@using LiveTransit.Services

@attribute [StreamRendering]

@code {
    [Parameter]
    public string line { get; set; } = default!;

    [Inject]
    public IRouteService routeService { get; set; }

    public string route { get; set; }

    protected override async Task OnInitializedAsync() {
        route = await routeService.GetRoute(line);
    }
}

<PageTitle>Linie</PageTitle>

<h1>Opis</h1>

<h2>@route</h2>
