@page "/Linie"
@attribute [StreamRendering]

<PageTitle>Linie</PageTitle>

<h1>Autobusy</h1>

<div class="card">
    <div class="card-body linie">
        <div class="container">
            <div class="row">
                <div class="col col-lg-2 tlo">
                    <p style="background: #ffc20e">SKA3</p>
                </div>
                <div class="col title">
                    <p><strong>Kraków Główny - Trzebinia - Oświęcim</strong></p>
                </div>
                <div class="col col-lg-2 details">
                    <p class="btn5">Szczegóły</p>
                </div>
            </div>
        </div>
    </div>
</div>
